body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  line-height: 26px;
}



.container_navigation,
.welcome,
.about,
.big_reason,
.services,
.search,
.results,
.internal_footer,
.item {
  background-color: #ffffff;
}

.container_navigation {
  margin: 0;
  padding: 0;
}

.container_navigation li{
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.container_navigation a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

li .logo {
  position: absolute;
  margin-top: -20px;
  padding-left: 50px;

}

.container,
footer {
  width: 1200px;
  margin: 0 auto;
}

.container ul,
.sorting_links,
.results_controls ul{
  list-style: none;
  text-align: center;
}

header li {
  display: inline;
}


main {
  width: 1200px;
  margin: 0 auto;
  margin-top: -5px;
}

.welcome_image {
  background: url("../img/landscape.jpg")no-repeat 0 -57px;
  width: 1200px;
}
.welcome_notes {
  background: url("../img/welcome.png") no-repeat 50% 78px;
  height:507px;
}

.white_line {
  background: url("../img/white.png") no-repeat 0 bottom;
}

.about{
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
}

.search {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.blue {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  background-color: #81b3d2;
  color: #ffffff;
  width: 400px;
  padding: 58px 0;
}

.reason_image {
  display: inline-block;
  width: 800px;
  line-height: 0;
}

.service,
.reason {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 400px;
  padding: 58px 0;
  margin: 0;
}

.small_reasons {
  background-color: #eeeeee;
  margin: 0;
  margin-top: -8px;
}

.map {
  width: 1200px;
}

.search {
  margin: 0 auto;
}
h1 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 30px;
  margin-top: 0;
}

.form_title {
  display: block;
  background-color: #766357;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
}

form {
  width: 567px;
  margin: 0 auto;
}

.search_btn {
  display: inline-block;
  width: 458px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.footer {
  width: 1200px;
}

.hash,
.social_buttons,
.copyright {
  display: inline-block;
  width: 400px;
  text-align: center;
  vertical-align: top;

}
/* catalog.css*/

/* фильтр*/

.search_background {
  background-image: url("../img/filterbackground.jpg");
  width: 100%;
  margin: 0;
}

.search_place {
  width: 1056px;
  display: block;
  margin: 0 auto;
}

.search_place ul {
  list-style: none;
}

.filter_structure,
.filter_property,
.filter_price {
  padding: 30px 0;
  color: white;
  vertical-align: top;
  display: inline-block;
  text-align: left;
}

.filter_structure,
.filter_property {
  width: 25%;
}

.filter_price {
  width: 50%;
  text-align: center;
}

/*results*/

.results_amount,
.sorting,
.results_controls,
.sorting_links,
.sorting_title {
  display: inline-block;
  vertical-align: top;
}

.results_title {
  font-weight: bold;
}

.sorting_links {
  list-style: none;
}

.results_amount,
.sorting_links li,
.sorting,
.results_controls li,
.results_controls,
.item_image,
.item_description,
.item_rating,
.learn_more,
.booking {
  display: inline-block;
  vertical-align: top;
}

.sorting_links a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding-left: 32px;
}

.results_amount,
.item_image {
  width: 235px;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 70px;
  box-sizing: border-box;
}

.sorting,
.item_description {
  width: 780px;
  padding-top: 30px;
  padding-bottom: 28px;
}

.results_controls,
.item_rating {
  width: 185px;
  padding-top: 30px;
  padding-bottom: 28px;
}

.item,
.results {
  border-bottom: 2px solid #e5e5e5;
  margin: 0;
}


