@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
  url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  line-height: 26px;
}

.container_navigation,
.welcome,
.about,
.big_reason,
.services,
.search,
.results,
.internal_footer,
.item {
  background-color: #ffffff;
}

.container_navigation {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.container_navigation li{
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.container_navigation a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container_navigation a:hover {
  color: #81b3d2;
}

.container_navigation a:active {
  color: #b2b2b2;
}

.container_navigation .active {
  color: #766357;
}

.container_navigation .active:hover {
  color: #604e43;
}

.container_navigation .active:active {
  color: #dbd8d5;
}

li .logo {
  position: absolute;
  margin-top: -20px;
  padding-left: 50px;
}

.container,
footer {
  width: 1200px;
  margin: 0 auto;
}

.container ul,
.sorting_links {
  list-style: none;
  text-align: center;
}

header li {
  display: inline;
}

main {
  width: 1200px;
  margin: 0 auto;
  margin-top: -5px;
}

.welcome_image {
  background: url("../img/landscape.jpg")no-repeat 0 -57px;
  width: 1200px;
}
.welcome_notes {
  background: url("../img/welcome.png") no-repeat 50% 78px;
  height:507px;
}

.white_line {
  background: url("../img/white.png") no-repeat 0 bottom;
}

.about{
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
}

.search {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 155px;
  position: relative;
}

.search_form {
  position: absolute;
  top: 206px;
  left: 315px;
  background-color: #ffffff;
}

.blue {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  background-color: #81b3d2;
  color: #ffffff;
  width: 400px;
  padding: 58px 0;
}

.reason_image {
  display: inline-block;
  width: 800px;
  line-height: 0;
}

.service,
.reason {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 400px;
  padding: 60px 0;
  margin: 0;
}

.small_reasons {
  background-color: #eeeeee;
  margin: 0;
  margin-top: -8px;
}

.map {
  width: 1200px;
}

.search {
  margin: 0 auto;
}
h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.reason h2,
.service h2,
.form_title h2 {
  font-size: 21px;
  line-height: 21px;
}

h3 {
  font-size: 30px;
  margin-top: 0;
}

.form_title {
  display: block;
  background-color: #766357;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
}

form {
  width: 567px;
  margin: 0 auto;
  font-weight: bold;
}

.form_content {
  padding: 55px;
  text-align: left;
}

.date_input {
  margin-bottom: 30px;
  width: 322px;
  padding: 10px 10px;
  text-transform: uppercase;
  margin-left: 20px;
  border: none;
  background-color: #f2f2f2;
}

.date_input:hover {
  background-color: #ebebeb;
}

.date_input:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  width: 318px;
}

.check_out .date_input {
  margin-left: 16px;
}


.check_in::after {
  content: '\e800';
  font-family: "symbols-sedona";
  font-size: 21px;
  line-height: 26px;
  position: absolute;
  color: #a9a9a9;
  top: 187px;
  left: 472px;
  cursor: pointer;
}
.check_out::after {
  content: '\e800';
  font-family: "symbols-sedona";
  font-size: 21px;
  line-height: 26px;
  position: absolute;
  top: 252px;
  left: 472px;
  color: #a9a9a9;
  cursor: pointer;
}

.check_in:hover::after,
.check_out:hover::after {
  color: #000000;
}

.check_in:active::after,
.check_out:active::after {
  color: #81b3d2;
}

.adults_amount,
.children_amount {
  display: inline-block;

}

.adults_amount input,
.children_amount input {
  width: 34px;
  text-align: center;
  border: none;
  margin: 0;
  background-color: #f2f2f2;
  padding: 9px 0px;
}

.children_amount {
  margin-left: 53px;
}

.adults {
  margin-right: 35px;
}

.children {
  margin-right: 25px;
}

.icon_btn {
  border: none;
  margin: 0;
  background-color: #f2f2f2;
  color: #a9a9a9;
  font-size: 14px;
  line-height: 26px;
  padding: 5px 10px;
}

.icon_btn:hover {
  color: #000000;
}

.icon_btn:active {
  color: #81b3d2;
  border: none;  
}

.search_btn {
  display: inline-block;
  width: 458px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  border: none;
  margin-top: 50px;
}

.search_btn:hover,
.search_btn:active {
  background-color: #669ec0;
}

.search_btn:active {
  color: #88b6d1;
}

footer {
  padding: 20px 0;
}

.main_footer {
  background-color: rgba(255,255,255,.9);
  position: relative;
  bottom: 102px;
}

.hash,
.social_buttons,
.copyright {
  display: inline-block;
  width: 400px;
  text-align: center;
  vertical-align: middle;
}

.hash_sedona,
.btn_social,
.item_title {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.copyright_text {
  color: #000000;
  font-weight: normal;
  position: relative;
  padding-right: 130px;
}

.copyright_logo {
  margin-left: 7px;
  position: absolute;
  top: -5px;
  right: 103px;
}
/* catalog.css*/

/* фильтр*/

.search_background {
  background-image: url("../img/filterbackground.jpg");
  width: 100%;
  margin: 0;
}

.search_place {
  width: 1056px;
  display: block;
  margin: 0 auto;
}

.filter_structure,
.filter_property,
.filter_price {
  padding: 30px 0;
  color: white;
  vertical-align: top;
  display: inline-block;
}

.filter_option {
  margin: 0;
}

.filter_structure,
.filter_property {
  width: 25%;
}

.filter_structure label,
.filter_property label {
  font-weight: normal;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label {
  display: block;
  margin-top: 25px;
  line-height: 20px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: '\2610';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  font-family: "symbols-sedona";
  font-size: 26px;
}

input[type="checkbox"]:checked + label::before {
  content: '\2611';
}

.filter_price {
  width: 50%;
}

.filter_range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 210px;
}

.filter_title {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter_title h2 {
  padding: 0;
  margin: 0;
}

.price_control {
  border: 2px solid #ffffff;
  border-radius: 2px;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  position: relative;
}

.price_control::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price_control label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  font-weight: normal;
}

.price_control .min_price,
.price_control .max_price {
  width: 90px;
  padding-left: 65px;
}

.price_control input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range_control {
  position: relative;
  margin-bottom: 32px;
}

.range_control .scale {
  height: 2px;
  background: rgba(255,255,255,0.3);
}

.range_control .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.toggle {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 rgba(0,1,1,0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;
}

.toggle:hover {
  background: #1c4f80;
}

.filter_show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-weight: normal;
}

.filter_show:hover {
  background-color: #ffffff;
  color: #000000;
}

.filter_show:hover {
  background: #ffffff;
  color: #000000;
}

.min_toggle {
  left: 0;
}

.max_toggle {
  left: 80%;
}

/*results*/

.results_amount,
.sorting,
.sorting_links,
.sorting_title {
  display: inline-block;
  vertical-align: middle;
}

.results_controls {
  text-align: right;
  padding-right: 72px;
  width: 113px;
  padding-top: 30px;
  padding-bottom: 28px;
}

.results_controls a {
  display: inline-block;
  padding: 0;
  margin-left: -15px;
  text-decoration: none;
  font-size: 23px;
  color: #cccccc;
}

.results_controls .down_active {
  color: #81b3d2;
}

.results_controls a:hover {
  color: #000000;
}

.results_amount {
  margin-top: 13px;
}

.results_title {
  font-size: 21px;
  font-weight: bold;
}

.sorting_links a:hover {
  color: #81b3d2;
}

.sorting_links a:active {
  color: #000000;
}

.sorting_links .active {
  color: #81b3d2;
}

.sorting_links .disabled {
  color: #cacaca;
  text-decoration: dotted;
  border-bottom: 2px dotted #81b3d2;

}

.results_amount,
.sorting_links li,
.sorting,
.results_controls,
.item_image,
.item_description,
.item_rating,
.learn_more,
.booking {
  display: inline-block;
  vertical-align: top;
}

.sorting_links a {
  display: block;
  margin-left: 32px;
  text-decoration: none;
  padding: 0;
}

.results_amount,
.item_image {
  width: 235px;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 70px;
  box-sizing: border-box;
}

.sorting,
.item_description {
  width: 780px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.item_rating {
  width: 113px;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-right: 72px;
  text-align: right;
}

.item,
.results {
  border-bottom: 2px solid #e5e5e5;
  margin: 0;
}

.learn_more,
.booking {
  margin-top: 6px;
}

.item_title:hover {
  color: #81b3d2;
}

.item_title:active {
  color: #cacaca;
}

.details a,
.book_now a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.booking {
  margin-left: 6px;
}

.details {
  display: block;
  background: #81b3d2;
  padding: 3px 16px;
  margin-top: 3px;
}

.details:hover {
  background-color: #669ec0;
}

.details:active {
  background-color: #669ec0;
}

.details a:active {
  color: #85b0cd;
}

.book_now {
  display: block;
  background: #766357;
  padding: 3px 16px;
  margin-top: 3px;
}

.book_now:hover,
.book_now:active {
  background-color: #604e43;
}

.book_now a:active {
  color: #857871;
}

.icon-star {
  font-size: 19px;
  line-height: 21px;
  color: #81b3d2;
  margin-left: -5px;
}

.rating_number {
  display: block;
  width: 80px;
  background-color: #f2f2f2;
  padding: 5px 15px;
  margin-top: 30px;
}

/*social buttons*/

.btn_social {
  display: inline-block;
  width: 45px;
  height: 35px;
  background-color: #81b3d2;
  margin: 6px;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.social_buttons a {
  color: white;
  font-size: 19px;
  padding-top: 10px;
}

.btn_social:hover,
.btn_social:active {
  background-color: #669ec0;
}

.btn_social:active {
  color: #88b6d1;
}
